

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    font-family:"Inter";
}
.conteiner{
    
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* border-radius: 24px; */
    background-color: #262525;
}
body{
    background-color: #000000;
    
}
h1{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 88px;
    color: #FFFFFF;
}
.card-top{
    max-width: 809px;
    width: 100%;
    height: 176px;
    display: flex;
    justify-content: space-between;
    div{
    max-width: 245px;
    width: 100%;
    height: 153px;
    background-color:#1D1D1D ;
    border-radius: 20px;
    }
}
main{
    position: relative;
    top: 70px;
}
.mid-section{
    background-color: #1D1D1D;
    border-radius: 20px;
    max-width:809px;
    width: 100%;
    height: 176px;
    margin-bottom: 35px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    max-width: 809px;
    width: 100%;
    height: 157px;
    div{
        width: 100%;
        max-width:386px ;
        height: 157px;
        background-color:#1D1D1D ;
        border-radius: 20px;
    }
}
aside{
    width: 80px;
    

}
 .main-wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
} 
 .icon{
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
 }
 .icon div:nth-child(2){
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #4169E114;
     width:45px ;
     height: 45px;
     border-radius:15px ;

 }
.content-right{
   position: relative;
   
   div{
     
     
       
      /* height: inherit; */   
   }

}
.blue{
     position: absolute;
     left: 850px;
     border-radius: 46px;
     bottom: 300px;   
     max-width: 218px;
     width: 100%;
     max-height:251px ;
     height: 100vh;
     border-radius: 46px;
     z-index: 2;
     background: #7B20E2;
     background: linear-gradient(186deg, rgba(123, 32, 226, 1) 2%, rgba(47, 17, 74, 1) 91%);
     box-shadow: 1px 1px 1px 0#00000040;
}
.orange{
    position: absolute;
    left: 850px;
    border-radius: 46px 46px 0px 90px;
    bottom:395px;   
    width: 235px;
    height: 160px;
    z-index: 1;
    position: absolute;
    transform: rotate(15deg);
    background-color: #C68E3C;
    box-shadow: 1px 1px 1px 0#00000040;
    
}
.green{
      /* z-index: 5; */
       box-shadow: 1px 1px 1px 0#00000040;
      position: absolute;
      transform: rotate(30deg);
      border-radius: 46px 46px 0px 60px;
      width: 235px;
      height: 200px;
      bottom:360px;   
      left: 865px;
      position: absolute;
      background-color: #2F847F;
}
.box{
    position: absolute;
    left:850px ;
    width: 100%;
    max-width: 258px;
    height: 273px;
    background-color: #1D1D1D;
}