
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    font-family: 'Noto Serif Georgian';
}
.conteiner{
    
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #2b2a29;
    background: linear-gradient(269deg, rgba(43, 42, 41, 1) 28%, rgba(74, 53, 43, 1) 55%, rgba(0, 0, 0, 1) 89%);
    
}
body{
    background-color: #000000;
    
}
h1{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 88px;
    color: #FFFFFF;
}
.card-top{
    max-width: 809px;
    width: 100%;
    height: 176px;
    display: flex;
    justify-content: space-between;
    div{
    box-shadow: 0px 4px 8px 2px #00000040;
    max-width: 245px;
    width: 100%;
    height: 153px;
    background-color:#1D1D1D ;
    border-radius: 20px;
    }
}
main{
    position: relative;
    top: 70px;
}
.mid-section{
    background: #2b2a29;
    background: linear-gradient(269deg, rgba(43, 42, 41, 1) 28%, rgba(74, 53, 43, 1) 55%, rgba(0, 0, 0, 1) 89%);
    border-radius: 20px;
    max-width:809px;
    width: 100%;
    height: 176px;
    margin-bottom: 35px;
    box-shadow: 0px  4px  8px 2px #00000040;
    background-image: url(./assets/deshboard/bednieri_erri-removebg-preview\ \(1\).png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.card-bottom{
    display: flex;
    justify-content: space-between;
    max-width: 809px;
    width: 100%;
    height: 157px;
    div{
        box-shadow: 0px 4px 8px 2px #00000040;
        width: 100%;
        max-width:386px ;
        height: 157px;
        background-color:#1D1D1D ;
        border-radius: 20px;
    }
}
aside{
    width: 80px;
    

}
 .main-wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
} 
 .icon{
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
 }
 .icon div:nth-child(2){
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #4169E114;
     width:45px ;
     height: 45px;
     border-radius:15px ;

 }
.content-right{
   position: relative;
   

}
.georgia{
    overflow: hidden;
     position: absolute;
     left: 850px;
     border-radius: 46px;
     bottom: 300px;   
     max-width: 218px;
     width: 100%;
     max-height:251px ;
     height: 100vh;
     border-radius: 46px ;
     z-index: 2;
     background-image: url(./assets/deshboard/georgia.jpg);
     background-size:cover;
     background-repeat: no-repeat;
     background-position: center;
     border: 3px dotted wheat;
    

}
.white{
    position: absolute;
    left: 850px;
    border-radius: 46px 46px 0px 90px;
    bottom:395px;   
    width: 235px;
    height: 160px;
    z-index: 1;
    position: absolute;
    transform: rotate(15deg);
    background-color: #d6d4d4;
    box-shadow: 0px 4px 8px#800000;
    border: 3px dotted rgb(66, 23, 23);
}
.black{
      
       box-shadow: 1px 1px 1px 0#f3eeee40;
       position: absolute;
       transform: rotate(30deg);
       border-radius: 46px 46px 0px 60px;
       width: 235px;
       height: 200px;
       bottom:360px;   
       left: 865px;
       position: absolute;
       background-color: #5a1414;
       box-shadow: 0px 4px 8px #00000040;
       border: 3px dotted rgb(185, 184, 184);
}
.box{
    
    position: absolute;
    bottom:0px;
    left:850px ;
    width: 100%;
    max-width: 258px;
    height: 273px;
    border-radius: 20px;
    background-color: #1D1D1D;
    box-shadow: 0px 4px 8px 2px #00000040;
}


.card-top div{
    
    overflow: hidden;
    img{
      
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

h2{
    /* overflow: hidden; */
    color: rgb(194, 190, 188);
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    text-shadow: 2px 2px rgb(77, 74, 74);
}
.box{
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    }
div[onclick] {
    cursor: pointer;
}
div[onclick]:active img {
    transform: scale(0.98); 
    filter: brightness(0.8);
   
}
.card-bottom div:first-child {
   overflow: hidden;
    display: flex;
   justify-content: flex-start;
   position: relative;
     background-color: #2c251f;
     color: #d6d4d4;
   img{
     object-fit: contain;
      position: relative;
      right: 30px;
   }
  
}



.card-bottom div:last-child{
    color:#d6d4d4 ;
    background-color: #382e25;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-around;
    position: relative;
    img{
        
        position: relative;
        right:25px;
        object-fit: contain;
    }
}
 i{
     display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       left: -15px;
   }

   .icon2{
    border-radius: 3px;
    background-color: rgba(126, 111, 98, 0.8);    
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

 .ilia{
      bottom: 393px;
      left:200px;
   }
   .vaja{
       bottom: 393px;
       left:480px;
   }
   .akaki{
      bottom: 393px;
      left:760px;
   }
   .ter1{
       bottom: 3px ;
       left: 160px;
   }
   .ter2{
      bottom: 3px;
      left: 580px;
   }
   .gala{
     bottom: 3px;
     left:1060px;
   }